node_modules
.next
.env.local
app/.DS_Store
serviceAccount.json
public/images/transparent_logo.png
scripts/setSupportAgent.js
scripts/setRoleClaims.js
.js
kloner_journey_emails.md
app/(app-shell)/affiliate-maintenance.yml
public/hero copy.webm
