node_modules
.next
.env.local
*.md
app/.DS_Store
serviceAccount.json
public/images/transparent_logo.png
scripts/setSupportAgent.js
scripts/setRoleClaims.js
.js
app/(app-shell)/affiliate-maintenance.yml
public/hero copy.webm

certificates
.github/prompts/backend-embedding-workflow.prompt.md
.gitignore
.github/prompts/backend-embedding-sanitization.prompt.md
next-env.d.ts
